@import "../../base";
@import "~bootstrap/scss/mixins/hover";
@import "../../scss/mixins/alarm_level";

.lr-alarm-brief-chart {
  &.lr-dark {
    .lr-alarm-card.card {
      color: $white;
      font-weight: 100;

      @each $state, $color in $theme-colors {
        @include lr-state($state, background-color, $color);

        &.lr-#{$state} .lr-alarm-icon-bg {
          color: mix(color-yiq($color), $color, 20%);
        }
      }
    }
  }

  &.lr-light {
    .lr-alarm-card.card {
      color: $body-color;
      border-top-width: 3px;

      @each $state, $color in $theme-colors {
        @include lr-state($state, border-top-color, $color);

        &.lr-#{$state} .lr-alarm-icon-bg {
          color: $color;
        }
      }

      .lr-alarm-icon-state {
        color: $white;
      }
    }
  }
}

.lr-stack {
  cursor: pointer;
}

.lr-unstacked {
  position: relative;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);

  @include hover-focus {
    color: rgba(0, 0, 0, 0.7);
  }

  span.arrow {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -.5rem;
    display: block;
    height: 1rem;
    text-align: center;
  }
}
