@import "../../base";
@import "~bootstrap/scss/mixins/transition";

#header {
  height: 40px;
  background-color: $title-bg;
  font-size: .8rem !important;
  $color: $title-color;

  .nav-link {
    color: darken($color, 15%);
    &:hover {
      color: $color;
    }
  }
  .navbar-text {
    color: $color;
  }
}

#alarm-marquee-wrapper {
  display: flex;
  height: 0;
  z-index: 1000;
}

.alarm-marquee-left {
  width: 200px;
  flex-shrink: 0;
  @include transition(all 0.3s cubic-bezier(.645, .045, .355, 1));
}

.sidebar-collapsed {
  .alarm-marquee-left {
    width: 0;
  }
}
