@import "../base";

@mixin card-state($state, $css, $color) {
  &.lr-#{$state} {
    #{$css}: $color;
  }
}

@mixin table-row-state($state, $css, $color) {
  &.lr-#{$state} {
    th,
    td {
      &:first-child {
        #{$css}: $color;
      }
    }
  }
}

@function px-to-rem($px) {
  @return $px / 14px * 1rem;
}

table {
  font-size: .8rem;
  td, th {
    vertical-align: middle !important;
  }
  &.table-sm .btn-sm {
    padding: .1rem .5rem;
  }
}

.modal button.close:focus {
  outline: none;
}

.modal-header b {
  color: $title-bg;
  font-size: 1.2rem;
}

#page-title b {
  color: $title-bg;
  font-size: 1.2rem;
  padding-top: $nav-link-padding-y - .2rem;
  padding-bottom: $nav-link-padding-y - .2rem;
  padding-left: $card-spacer-x / 2;
}

#page-subtitle {
  margin-left: -1.5rem;
}

$lr-success: theme-color("success");
$lr-danger: theme-color("danger");
$lr-warning: theme-color("warning");

.card.lr-agent-card {
  min-width: 18rem !important;
  max-width: 18rem !important;
  margin-bottom: 1rem !important;
  border-top-width: 3px;
  border-top-style: solid;
  .card-header {
    @extend .py-1;
    @extend .px-2;
  }
  .card-body {
    @extend .p-0;
    font-size: .8rem;
    .media-body {
      table {
        @extend .m-0;
        table-layout: fixed;
        td {
          @extend .border-0;
          @extend .py-0;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
    p {
      @extend .m-0;
    }
  }

  @each $color, $value in $theme-colors {
    @include card-state($color, border-top-color, theme-color($color));
  }

  .card-body {
    @extend .p-0;
  }
}

.lr-alarm-table {
  font-size: .8rem;

  tr {
    th,
    td {
      &:first-child {
        border-left-width: 0;
        border-left-style: solid;
        border-left-color: transparent;
      }
    }

    //&:hover {
    //  @each $state, $color in $theme-colors {
    //    @include table-row-state($state, border-left-color, $color);
    //  }
    //}
  }
}

.agent-content {
  @extend .d-flex;

  .main-content {
    @extend .flex-grow-1;
    margin-right: $card-spacer-x;
  }

  .side-content {
    width: 200px;
    @extend .flex-shrink-0;
  }

  .timeline-menu {
    $timeline-color: $gray-400;
    $circle-radius: 5px;

    position: fixed;
    bottom: $card-spacer-y;
    height: 300px;

    .timeline-bar {
      position: absolute;
      top: 0;
      left: $circle-radius;
      width: 0;
      height: 200px;
      border: 1px solid $timeline-color;

      .circle {
        position: absolute;
        left: -$circle-radius;
        width: 2 * $circle-radius;
        height: 2 * $circle-radius;
        border: 2px solid $timeline-color;
        border-radius: $circle-radius;
        &.start {
          top: -2 * $circle-radius;
        }
        &.end {
          bottom: -2 * $circle-radius;
        }
      }

    }

    .scroll-spy {
      margin-top: .5rem;
      dd {
        padding-left: 2rem;
        .anchor-to {
          cursor: pointer;
        }
        em.pointer {
          position: absolute;
          left: 1px;
          width: 2 * $circle-radius;
          height: 2 * $circle-radius;
          border: 2px solid #ffffff;
          border-radius: $circle-radius;
          background: $timeline-color;
          margin-top: $circle-radius;
        }
        &:hover {
          em.pointer {
            background: $primary;
          }
        }
        &.active {
          color: $primary;
          em.pointer {
            position: absolute;
            left: 1px;
            width: 2 * $circle-radius;
            height: 2 * $circle-radius;
            border: 0;
            border-top-left-radius: $circle-radius / 2;
            border-bottom-left-radius: $circle-radius / 2;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            background: $primary;
            margin-top: .5rem - px-to-rem(1px);
            &::after {
              content: "";
              border-right: 0;
              border-top: 5px solid transparent;
              border-bottom: 5px solid transparent;
              border-left: 5px solid $primary;
              width: 0;
              height: 0;
              display: inline-block;
              position: absolute;
              right: -5px;
            }
          }
        }
      }
    }
  }
}

.rdt {
  input[type="text"].form-control {
    @extend .form-control-sm;
  }

  .rdtPicker {
    width: 14rem;
    @include reset-text();
    font-size: $popover-font-size;
    background-color: $popover-bg;
    background-clip: padding-box;
    border: $popover-border-width solid $popover-border-color;
    @include border-radius($popover-border-radius);
    @include box-shadow($popover-box-shadow);

    td, th {
      font-size: .75rem;
      height: unset;
      padding: 3px 0;
    }

    .rdtPrev span, .rdtNext span {
      margin-top: -.25rem;
    }

    td.rdtDay,
    td.rdtHour,
    td.rdtMinute,
    td.rdtSecond,
    .rdtTimeToggle,
    thead tr:first-child th {
      &:hover {
        background-color: $pagination-hover-bg;
      }
    }

    td.rdtActive {
      &, &:hover {
        background-color: $primary;
      }
    }

    td.rdtToday:before {
      border-bottom: 7px solid $primary;
    }
  }
}

.react-bootstrap-daterangepicker-container {
  width: 100%;
}

.badge.perm {
  @extend .bg-white;
  cursor: default;
  border: 1px solid;
  &.badge-danger {
    @extend .text-danger;
    border-color: $danger;
  }
  &.badge-dark {
    @extend .text-dark;
    border-color: $dark;
  }
}