@import "../../base";
@import "~bootstrap/scss/mixins/transition";

$sidebar-width: 200px;
$sidebar-bg: darken($dark, 10%);

.nav-pills > li > a {
  border-radius: 0;
}

#wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  //@include transition(all 0.3s ease);
}

.sidebar-collapsed {
  #sidebar-wrapper {
    width: 0;
  }
}

#container-wrapper {
  overflow-x: hidden;
  padding-top: $lr-alarm-marquee-height;
}