@import "../../base";
@import "../../scss/mixins/alarm_level";
@import "~bootstrap/scss/mixins/border-radius";
@import "~bootstrap/scss/mixins/box-shadow";

#alarm-marquee {
  background-color: theme-color-level('warning', -6);
  font-size: .8rem;
  height: $lr-alarm-marquee-height;
  line-height: $lr-alarm-marquee-height;
  @include box-shadow(0px 1px 10px 0px rgba($black, .5));

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding-left: 1rem;
      padding-right: 1rem;
      position: relative;

      @each $state, $color in $theme-colors {
        @include lr-state($state, -color, $color) {
          &:before {
            background-color: $color;
          }

          .lr-alarm-icon-bg {
            color: mix(color-yiq($color), $color, 10%);
          }
        }
      }

      &:before {
        content: '';
        position: absolute;
        height: 3px;
        @include border-top-radius(3px);
        right: 0;
        left: 0;
        bottom: 0;
        margin: 0 .5rem;
      }

      > span {
        margin-left: .5rem;
      }
    }
  }

  .lr-alarm-icon {
    margin-bottom: -.15rem;
    color: theme-color-level('warning', -6);
  }
}
