@import "../../base";

$sidebar-width: 200px;
$sidebar-bg: darken($dark, 5%);
$sidebar-indicator-width: .2rem;

#sidebar-wrapper {
  width: $sidebar-width;
  flex-shrink: 0;
  overflow-y: auto;
  background-color: $sidebar-bg;
  @include transition(all 0.3s cubic-bezier(.645, .045, .355, 1));
}

.sidebar-nav {
  width: $sidebar-width;
  margin: 0;
  padding: 0;
  list-style-type: none;

  ul {
    padding-left: 0;
  }

  .subscript {
    color: rgba($sidebar-bg, 0.75);
    @include transition(all 0.3s cubic-bezier(.645, .045, .355, 1));
  }

  li:not(.leaf) {
    & > span, & > a {
      @include caret(down);
    }
    &.expended {
      & > span, & > a {
        @include caret(up);
      }
    }
  }

  $indent: 1.5rem;

  li {
    text-indent: $indent;
    line-height: 2.5rem;
    li {
      text-indent: $indent * 2;
      li {
        text-indent: $indent * 3;
      }
    }
  }

  li {
    ul {
      background-color: rgba(0,0,0,.75);
    }

    span, a {
      font-size: $font-size-sm;
      display: block;
      text-decoration: none;
      color: $navbar-dark-color;
      border-left: transparent $sidebar-indicator-width solid;
      cursor: pointer;

      @include transition(all 0.3s cubic-bezier(.645, .045, .355, 1));

      &:hover {
        color: $navbar-dark-hover-color;
        //color: rgba($navbar-dark-hover-color, .9);
        border-left: darken($title-bg, 5%) $sidebar-indicator-width solid;
      }
      &.active {
        color: color-yiq($primary);
        //color: $navbar-dark-active-color;
        //color: rgba($navbar-dark-hover-color, .9);
        background-color: $primary;
        border-left: $primary $sidebar-indicator-width solid;
        .subscript {
          color: rgba($primary, 0.6);
        }
      }
    }
  }
}




