@import "../../base";

$sidebar-width: 200px;
$sidebar-bg: darken($dark, 10%);
$sidebar-indicator-width: .2rem;

#sidebar-wrapper {
  width: 0;
  overflow-y: auto;
  background-color: $sidebar-bg;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar-nav {
  width: $sidebar-width;
  margin: 0;
  padding: 0;
  list-style-type: none;
  ul {
    padding-left: 0;
  }

  li:not(.leaf) {
    & > span, & > a {
      @include caret(down);
    }
    &.expended {
      & > span, & > a {
        @include caret(up);
      }
    }
  }

  $indent: 1.5rem;

  li {
    text-indent: $indent;
    line-height: 2.5rem;
    li {
      text-indent: $indent * 2;
      li {
        text-indent: $indent * 3;
      }
    }
  }
  li {
    span, a {
      font-size: $font-size-sm;
      display: block;
      text-decoration: none;
      color: $navbar-dark-color;
      border-left: transparent $sidebar-indicator-width solid;
      cursor: pointer;
      &:hover {
        color: $navbar-dark-hover-color;
        background-color: rgba($white, 0.1);
        border-left: darken($title-bg, 5%) $sidebar-indicator-width solid;
        //border-left: invert($primary) $sidebar-indicator-width solid;
      }
      &.active {
        color: opacify($navbar-dark-hover-color, 0.05);
        background-color: rgba($white, 0.15);
        border-left: $title-bg $sidebar-indicator-width solid;
        //border-left: invert($primary) $sidebar-indicator-width solid;
      }
    }

    .subscript {
      color: rgba($sidebar-bg, 0.75);
    }
  }
}




